.blog{
    background-color: lightblue;
    border: 20px solid rebeccapurple;
    margin: 15px 10px;
    border-radius:35px;
    padding:50px 200px 5px 3px;
    box-shadow:10px 10px 0.5px blue;
}
ul{
    background-color: yellowgreen;
    background-color: rgb(154, 182, 191);
    border: 20px solid rgb(85, 6, 163);
    margin: 10px 10px;
    border-radius:35px;
    padding:80px 40px 20px 30px;
    box-shadow:10px 10px 5px blue;
    
}
h1{
    height: 200px;
    text-align: center;
    background-color: blue;
    background-image: url(../Images/eye.JPG);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}
h2{
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 1px;


}